{% extends "base.html" %}
{%block title%}
Pending approvals
{%endblock%}
{%block content%}
  
     <div class="container" style="margin-top:15px;">
        <div class="row">
          <div class="col"></div>
          <div class="col-10">
            <table class="table caption-top">
                <caption>Pending approvals</caption>
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">User Name</th>
                    <th scope="col">User e-mail</th>
                    <th scope="col">Book Name</th>
                    <th scope="col">Book ID</th>
                    <th scope="col">Approval Action</th>
                  </tr>
                </thead>
                <tbody>
                  {%if pending_requests %}  
                    {% for request in pending_requests %}
                    <tr>
                    <th scope="row">{{loop.index}}</th>
                    <td>{{request[1]}}</td>
                    <td>{{request[2]}}</td>
                    <td>{{request[4]}}</td>
                    <td>{{request[3]}}</td>
                    <td>
                        <form class="row g-3" method="post" action="{{url_for('admin_approval', access_id=request[5])}}" novalidate>
                            <div class="col-auto">
                                <select class="form-control" name="approved_status" id="approval_validation">
                                    <option selected disabled value="">Choose</option>
                                    <option value="Approve">Approve</option>
                                    <option value="Reject">Reject</option>
                                  </select>
                                  <div class="invalid-feedback">
                                    Please choose Approval Action before submitting.
                                  </div>
                            </div>
                            <div class="col-auto">
                                <button type="submit" class="btn btn-primary mb-3">Submit</button>
                            </div>
                        </form>
                    </td>
                  </tr>
                  {% endfor %}
                  {%else%}
                  <tr>
                    <td class="text-center" colspan="6">
                    <em>There are no pending requests right now!</em>
                    </td>
                  </tr>
                  {%endif%}
                </tbody>
              </table>
            </div>
          <div class="col"></div>
        </div>
      </div>

{%endblock%}