<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a href="{{url_for('home')}}">
      <img src="../static/IMG/logo.png" style="height: 70px; width: 110px;" class="rounded">
    </a>

    <div class="navbar-nav mr-auto mb-2 mb-lg-0">
      <div class="searchbar mx-auto order-0 w-50 input-group">
        <form class="searchbar d-flex" method="post" action="{{url_for('search')}}">
          <select class="form-select searchbar" id="search_by" name="search_by">
            <option disabled><u>Search e-books by</u></option>
            <option value="book_name" selected>Book Name</option>
            <option value="book_section">Section</option>
            <option value="author">Author</option><br>
            <option disabled></option>
            <option disabled>Search for section</option>
            <option value="search_section">Section Name</option>
          </select>
          <input type="search" placeholder="Search" id="search_input" name="search_input">
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
      </div>
    </div>

    <div class="navbar-collapse w-25 justify-content-end" style="margin-right:10px">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="bi bi-person-circle" style="font-size: 22px;"></i>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            {%if user.role=="librarian"%}
            <li><a class="dropdown-item" href="{{url_for('add_books')}}">Add new books</a></li>
            <li><a class="dropdown-item" href="{{url_for('section_management')}}">Manage sections</a></li>
            <li><a class="dropdown-item" href="{{url_for('user_management')}}">User Management</a></li>
            <li><a class="dropdown-item" href="{{url_for('logout')}}">Logout</li>
          </ul>
        </li>
        &nbsp;
        <li class="nav-item">
          <a class="btn btn-warning" href="{{url_for('home')}}" role="button" style="width:10rem;">
            <i class="bi bi-file-earmark-bar-graph" style="font-size: 21px;"></i> Dashboard</button></a>
        </li>
        {%else%}
        <li><a class="dropdown-item" href="{{url_for('user_books')}}">My books</a></li>
        <li><a class="dropdown-item" href="{{url_for('logout')}}">Logout</li>
      </ul>
      </li>
      &nbsp;
      <li class="nav-item">
        <a class="btn btn-warning" href="{{url_for('cart')}}" role="button" style="width:6rem;">
          <i class="bi bi-cart4" style="font-size: 20px;"></i> Cart</button></a>
      </li>
      {%endif%}
      </ul>
    </div>
  </div>
</nav>