<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial_scale=150">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='CSS/register.css' )}}">
    <title>Pending approvals</title>
</head>

<body>
       
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand rounded" href="{{url_for('librarian_home')}}">BookMate</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Browse books by Category
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">History</a></li>
                  <li><a class="dropdown-item" href="#">Fiction</a></li>
                  <li><a class="dropdown-item" href="#">Comics</a></li>
                </ul>
              </li>
            </ul>
            </div>
        <div class="example mx-auto order-0 w-50">    
        <form class="example d-flex">
            <input type="search" placeholder="Search for books">
            <button type="submit"><i class="fa fa-search"></i></button>
      </form>
      </div>
      <div class="navbar-collapse w-25 justify-content-end" style="margin-right:10px">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-person-circle" style="font-size: 22px;"></i>
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="{{url_for('add_books')}}">Add books</a></li>
                    <li><a class="dropdown-item" href="{{url_for('logout')}}">Logout</li>
                  </ul>
            </li>
            &nbsp;
            <li class="nav-item">
                <a class = "btn btn-warning" href="{{url_for('librarian_home')}}" role="button" style="width:10rem;">
                    <i class="bi bi-journals" style="font-size: 20px;"></i> Track status</button></a>
            </li>
        </ul>
    </div>
</div>
</nav>

     <div class="container" style="margin-top:15px;">
        <div class="row">
          <div class="col"></div>
          <div class="col-10">
            <table class="table caption-top">
                <caption>Pending approvals</caption>
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">User Name</th>
                    <th scope="col">User e-mail</th>
                    <th scope="col">Book Name</th>
                    <th scope="col">Book ID</th>
                    <th scope="col">Approval Action</th>
                  </tr>
                </thead>
                <tbody>
                    {% for request in pending_requests %}
                    <tr>
                    <th scope="row">{{loop.index}}</th>
                    <td>{{request[1]}}</td>
                    <td>{{request[2]}}</td>
                    <td>{{request[4]}}</td>
                    <td>{{request[3]}}</td>
                    <td>
                        <form class="row g-3 needs-validation" method="post" action="{{url_for('admin_approval', access_id=request[5])}}" novalidate>
                            <div class="col-auto">
                                <select class="form-control" name="approved_status" id="approval_validation" required>
                                    <option selected disabled value="">Choose</option>
                                    <option value="Approve">Approve</option>
                                    <option value="Reject">Reject</option>
                                  </select>
                                  <div class="invalid-feedback">
                                    Please choose Approval Action before submitting.
                                  </div>
                            </div>
                            <div class="col-auto">
                                <button type="submit" class="btn btn-primary mb-3">Submit</button>
                            </div>
                        </form>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          <div class="col"></div>
        </div>
      </div>
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
(function () {
    'use strict'
  
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.querySelectorAll('.needs-validation')
  
    // Loop over them and prevent submission
    Array.prototype.slice.call(forms)
      .forEach(function (form) {
        form.addEventListener('submit', function (event) {
          if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
          }
  
          form.classList.add('was-validated')
        }, false)
      })
  })()
</script>


    </body>

</html>