{% extends "base.html" %}
{%block title%}
Cart and Orders
{%endblock%}
{%block content%}

<div class="container" style="margin-top:20px;">
    <div class="row">
        <div class="cart-list col-md-10">
            <div class="card">
                <h5 class="card-header bg-secondary text-white">Books available in your cart</h5>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Book Name</th>
                                <th scope="col">Author</th>
                                <th scope="col">Price</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {%if cart_items%}
                            {% for item in cart_items %}
                            <tr>
                                <th scope="row">{{loop.index}}</th>
                                <td>{{item[1]}}</td>
                                <td>{{item[2]}}</td>
                                <td>Rs. {{item[3]}}</td>
                                <td>
                                    <div class="row g-3">
                                        <div class="col-auto">
                                            <a href="{{url_for('delete_from_cart', cart_id=item[4])}}"
                                                class="btn btn-outline-danger btn-sm">
                                                <i class="bi bi-trash"></i>
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <td class="text-center text-muted" colspan="5"></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td><b>Grand total: </b></td>
                                <td><b>Rs. {{total_price}}</b></td>
                                <td><button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal"
                                        data-bs-target="#payment_modal">
                                        Proceed to buy
                                    </button>
                                </td>
                            </tr>
                            <!-- Modal -->
                            <div class="modal fade" id="payment_modal" tabindex="-1" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Saved Payment details</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Enter your CVV/CVC to complete the payment<br><br>
                                            
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="d-flex flex-column">
                                                        <p class="text mb-1">Name</p>
                                                        <input class="form-control mb-3" type="text" placeholder="Name"
                                                            value="{{user.user_name}}" disabled>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="d-flex flex-column">
                                                        <p class="text mb-1">Card Number</p>
                                                        <input class="form-control mb-3" type="text"
                                                            value="XXXX-XXXX-1234" disabled>
                                                    </div>
                                                </div>
                                                <form method="post" action="{{url_for('purchase')}}">
                                                <div class="col-6">
                                                    <div class="d-flex flex-column">
                                                        <p class="text mb-1">Expiry</p>
                                                        <input class="form-control mb-3" type="text" value="03/2029"
                                                            disabled>
                                                    </div>
                                                </div>
                                                
                                                <div class="col-6">
                                                    <div class="d-flex flex-column">
                                                        <p class="text mb-1">CVV/CVC</p>
                                                        <input class="form-control mb-3 pt-2 " type="password"
                                                            placeholder="***" name="cvv" id="cvv" maxlength="3">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Cancel</button>
                                            <button type="submit" class="btn btn-primary">Pay Rs. 243</button>
                                        </div>
                                    </form>
                                    </div>
                                </div>
                            </div>

                            {%else%}
                            <tr>
                                <td class="text-center text-muted" colspan="5">
                                    <em>There are no books added in your cart.</em>
                                </td>
                            </tr>
                            {%endif%}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>
</div>

{%endblock%}