{% extends "base.html" %}
{%block title%}
{{book.book_name}}
{%endblock%}
{%block content%}


<div class="wrapper" id="myDiv">
  <iframe id="pdfframe" src="{{book.content}}#toolbar=0" width="100%" height="600" type="application/pdf" onContextMenu="return false;" ></iframe>
    <div class="embed-cover"></div>
</div>
<div id="testid"></div>


<!-- <script>
  const div = document.getElementById("pdfframe");
  div.addEventListener("contextmenu", (e) => {e.preventDefault()});
  </script> -->
  <!-- <script type="text/javascript">
    document.addEventListener("contextmenu", function (e) {
        e.preventDefault();
    }, true);
</script> -->
<!-- <script>
  $('iframe').mousedown(function (e) {
    if(e.button == 2) { // right click
      return false; // do nothing!
    }
  });
</script> -->


 <!--<div class="read_book"> 
     <iframe src="{{book.content}}#toolbar=0" width="100%" height="600" id="pdfframe" disabled></iframe>
</div> 
<script>
  window.frames["pdfframe"].document.oncontextmenu = function(){ return false; };
</script>
-->
{%endblock%}